body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
        background-color: #845EC2;
}
.products{
    width: 100%;
}
.class{
    text-align: center;
    display: flex;
    margin: 0 auto;
    width: 50%;
    position: absolute;
    gap: 25px;
}
.abz{
    width: 200px;
    margin-left: 100px;
}
.abc{
    border: 2px solid green;
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
}
.qwer{
    font-family: "Pacifico";
    position: relative;
    color: white;
}
.qa{
    display: flex;
    justify-content: center;
    margin-top: -30px;
    text-align: center;
    border-radius: 300px;
}
.qb{
    display: flex;
    justify-content:center;
    margin-top: 35px;
    text-align: center;
    border-radius: 100px;
}

.qc{
    display: flex;
    justify-content: center;
    margin-top: 35px;
    text-align: center;
    border-radius: 100px;
}
.as{
    padding: 8px 16px;
    border-radius: 8px;
    display: inline-block;
    cursor: pointer;
}

.zx{
    color: white;
}
/* .a{
    text-align:700px;
} */
.btns{
    display: flex;
    align-items: center;
    gap: 10px;
}